:root {
    --bg: ##f8f8f8;
    --logo: #0074D9;
    --gradientFrom: #FFEBDA;
    --gradientTo: #FFAE6D;
    /*ffbc42  24BEDB;*/
}

html {
    box-sizing: border-box;
    font-family: 'Iceland', cursive, helvetica, sans-serif;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    color: var(--font);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

header {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background-color: #ebebeb;
    position: fixed;
    z-index: 5;
}

#logo-head {
    display: flex;
    justify-content: center;
    width: 5%;
    fill: var(--logo);
}

#logo-container {
    width: 50%;
}

#title {
    letter-spacing: 1rem;
    font-size: 8rem;
}

h2 {
    font-size: 1rem;
    margin-bottom: 4rem;
}

.hero {
    display: grid;
    grid-template-columns: 2.5% 30% 2.5% 30% 2.5% 30% 2.5%;
    grid-template-rows: 5% 15% 60% 15% 5%;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

#logo {
    fill: var(--logo);
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;

}

#subtitle {
    font-size: 2.5rem;
    color: var(--logo);
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 4;
}

#facade-matin {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
}

#facade-matin img {
    width: 100%;
}

.activity {
    background-color: red;
    padding: 1rem 0;
    font-size: 1.5rem;
    width: 100VW;
    height: 100vh;
}

#fabrication {
    height: 100vh;
}

#montage {
    background-size: cover;
    background-image: url('../assets/images/crochet.jpg');
}

#laser {
    background-size: cover;
    background-image: url('../assets/images/laser1.jpg');
    
}

#maintenance {
    background-size: cover;
    background-image: url('../assets/images/abstrait_metal_vert.jpg');

}

footer {
    display: flex;
    justify-content: space-between;
    font: var(--fontDarker);
}