:root {
    --bg: #f8f8f8;
    --logo: #0074D9;
}

html {
    box-sizing: border-box;
    font-family: 'Iceland', cursive, helvetica, sans-serif;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    color: var(--logo);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bg);
}

a {
    text-decoration: none;
    color: var(--logo);
}

p {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 5vh;
    background-color: #ebebeb;
    position: fixed;
    z-index: 5;
}

#logo-head {
    display: flex;
    justify-content: center;
    width: 5%;
    fill: var(--logo);
}

#logo-container {
    width: 65%;
}

#contact-head {
    display: flex;
    justify-content: space-evenly;
    width: 32.5%;
}

.head-info {
    display: flex;
    width: 33%;
    justify-content: space-around;
}

#title {
    letter-spacing: 1rem;
    font-size: 8rem;
}

h2 {
    font-size: 1rem;
    margin-bottom: 4rem;
}

.icon {
    display: flex;
    align-items: center;
    fill: var(--logo);
}


.hero {
    display: grid;
    grid-template-columns: 2.5% 30% 2.5% 30% 2.5% 30% 2.5%;
    grid-template-rows: 5% 15% 60% 15% 5%;
    align-items: center;
    width: 100vw;
    height: 100vh;
    
}

.hero p, header p {
    font-family: 'Iceland', sans-serif;
}

#logo {
    fill: var(--logo);
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;

}

#subtitle {
    font-size: 2.5rem;
    color: var(--logo);
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 4;
    z-index: 0;
}

#facade-matin {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 5;
}

#facade-matin img {
    width: 100%;
}

.activity {
    display: grid;
    grid-template-columns: 2.5% 30% 2.5% 30% 2.5% 30% 2.5%;
    grid-template-rows: 5vh 100vh 30vh 25vh 25vh 70vh;
    background-color: var(--bg);
    font-size: 1.5rem;
    width: 100VW;
}

#illustration-soudeur {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#illustration-soudeur img {
    width: 100%;
}

#intro {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: var(--bg);
}

#intro :first-child {
    margin-bottom: 5rem;
}

#mots-clefs {
    margin: 2rem 0 .5rem 0;;
}

.explications {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explications p {
    padding: 0 3rem;
    text-align: center;
    line-height: 3rem;
}

#words {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 5;
}

#illustration-laser {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 4;
    grid-row-end: 7;
}

#illustration-laser img {
    width: 100%;
}

footer {
    display: flex;
    justify-content: space-between;
    font: var(--fontDarker);
}