:root {
    --font: #FFF;
    --fontDarker: rgb(3, 3, 3);
    --gradientFrom: #FFEBDA;
    --gradientTo: #FFAE6D;
    /*ffbc42  24BEDB;*/
}

html {
    box-sizing: border-box;
    font-family: 'Iceland', cursive, helvetica, sans-serif;
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    color: var(--font);
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
}

#title {
    letter-spacing: 1rem;
    font-size: 8rem;
}

h2 {
    font-size: 1rem;
    margin-bottom: 4rem;
}

.hero {
    display: grid;
    grid-template-columns: 2.5% 30% 2.5% 30% 2.5% 30% 2.5%;
    grid-template-rows: 20% 60% 20%;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-image: url('../assets/images/facade_trou.jpg');
}

#logo {
    fill: #0074D9;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;

}

#subtitle {
    font-size: 2rem;
    color: #0074D9;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
}

.activity {
    background-color: red;
    padding: 1rem 0;
    font-size: 1.5rem;
    width: 100VW;
    height: 100vh;
}

#fabrication {
    background-size: cover;
    background-image: url('../assets/images/soudeur1_vertical.jpg');
}

#montage {
    background-size: cover;
    background-image: url('../assets/images/crochet.jpg');
}

#laser {
    background-size: cover;
    background-image: url('../assets/images/laser1.jpg');
    
}

#maintenance {
    background-size: cover;
    background-image: url('../assets/images/abstrait_metal_vert.jpg');

}

footer {
    display: flex;
    justify-content: space-between;
    font: var(--fontDarker);
}